/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}



/* CSS Variables */
:root {
    --navbar-height: 59px;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 9;
}

#navbar::before {
    content: "";
    background-color: rgb(255 255 255);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo {
    margin: 10px 34px;
}

#logo img {
    height: 70px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul {
    display: flex;
    margin-left: auto;
    font-family: 'Open Sans', cursive;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: rgb(176, 65, 0);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home Section */

#home {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px;
}

#home .bg-container{
    width: 100%;
    height: 100%;
}

#home img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    opacity: 0.7;
    object-fit: cover;
}

#home .introText {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

#home::before {
    content: "";
    position: absolute;
    background-color: #000000;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.4;
}

#home h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Open Sans';
}

#home p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Open Sans';
}



/* Services Section */

#services-container{
    background-color: #ffddb5;
}

#services-container .services {
    margin: 34px;
    display: flex;
}

#services-container .services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    width: calc(33.33% - 110px);
    transition: 0.5s;
    overflow: hidden;
}

#services-container .img-container{
    height: 200px;
    width: 100%;
    overflow: hidden;
}

#services-container .img-container img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

#services-container .services .box p {
    font-family: 'Open Sans';

}



#services-container .box:hover{
    transform: scale(1.05);
}



/* Clients Section */
#we-are-available {
    position: relative;
}

#we-are-available::before {
    content: "";
    position: absolute;
    top: 0px;
    background-size: cover;
    background-position-y: center;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

#we-are-available .bg-img img{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

#we-are-available .online-app {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#we-are-available .item {
    padding: 34px 34px 0px 34px;

}

#we-are-available .item img {
    height: 104px;
}


/* Contact Section */
#contact {
    position: relative;
    background-color: rgb(229 229 229);
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;

}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    box-sizing: border-box;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Open Sans';

}

#message {
    resize: none;
}

#contact-box .btn{
    margin: 17px 0px 0px 0px;
}

#button {
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}


footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
h1 {
    font-family: 'Open Sans';
    font-size: 56px;
    padding: 12px;
}

h2 {
    font-family: 'Open Sans';
    font-size: 42px;
    padding: 12px;
}

h3 {
    font-family: 'Open Sans';
    font-size: 30px;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover{
    border: 2px solid brown;
    background-color: transparent;
}

#contact-box .btn:hover{
    color: brown;
}


.center {
    text-align: center;
}